[submodule "lib/Topological-coding"]
	path = lib/Topological-coding
	url = https://github.com/kylepblum/Topological-coding
[submodule "lib/neuron-table"]
	path = lib/neuron-table
	url = https://github.com/raeedcho/neuron-table
[submodule "lib/TrialData"]
	path = lib/TrialData
	url = https://github.com/mattperich/TrialData
[submodule "lib/circ-toolbox"]
	path = lib/circ-toolbox
	url = https://github.com/raeedcho/circ-toolbox
